<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="overview"><i class="fa fa-home fa-lg"></i> {{cm.getContest().top_left_name}}</a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="SignCtrl">
      <ul class="nav navbar-nav">
        <li ng-repeat="category in cm.getMenu(me.getUser().access_level)" ng-class="{dropdown: category.entries.length > 1}" ng-if="category.entries.length > 0">
          <a ng-if="category.entries.length == 1" ng-href="{{rt(category.entries[0])}}"><i class="fa {{category.entries[0].icon}} fa-lg"></i> {{category.entries[0].title | l10n}}</a>
          <a class="dropdown-toggle" data-toggle="dropdown" ng-if="category.entries.length > 1">
            <i class="fa {{category.icon}} fa-lg"></i> {{category.title | l10n}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" ng-if="category.entries.length > 1">
            <li ng-repeat="entry in category.entries">
                <a ng-href="{{rt(entry)}}">
                    <i class="fa {{entry.icon}} fa-fw"></i> {{entry.title | l10n}}
                </a>
            </li>
          </ul>
        </li>
        <li ng-if="me.isLogged() && !cm.hasParticipation()">
          <p class="navbar-btn">
            <a ng-click="participate()" class="btn btn-success"><i class="fa fa-sign-in"></i>{{'Enter the contest' | l10n}}</a>
          </p>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!me.isLogged()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in fa-lg"></i> {{'Log in' | l10n}} <b class="caret"></b></a>
          <div class="dropdown-menu">
            <form class="signin-form" role="form" name="signinform" ng-submit="signin()">
              <div class="form-group">
                <label class="sr-only" for="username">{{'Username' | l10n}}</label>
                <input class="form-control" maxlength="15" type="text" id="username" name="username" ng-model="user.username" placeholder="Username" />
              </div>
              <div class="form-group">
                <label class="sr-only" for="password">{{'Password' | l10n}}</label>
                <input class="form-control" type="password" id="password" name="password" ng-model="user.password" placeholder="Password" />
              </div>
              <div class="row vertical-center">
                <div class="col-xs-8">
                  <input type="checkbox" id="keep_signed" name="keep_signed" checked="checked" />
                  <label for="keep_signed">{{'Stay signed in' | l10n}}</label>
                </div>
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-success pull-right"><i class="fa fa-sign-in"></i> {{'Log in' | l10n}}</button>
                </div>
              </div>
              <div class="form-group" style="margin: 6px 0px 0px 0px" ng-if="cm.getContest().mail_enabled">
                <a data-toggle="dropdown" ui-sref="forgot-account">{{'Forgot account?' | l10n}}</a>
              </div>
            </form>
          </div>
        </li>

        <li ng-if="me.isLogged()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-lg"></i>
            <i>{{me.getUser().username}}</i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="user.profile({userId: me.getUser().username})">
                <i class="fa fa-list-ol fa-fw"></i>
                {{'My user profile' | l10n}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="signout()">
                <i class="fa fa-sign-out fa-fw"></i>
                {{'Log out' | l10n}}
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-language fa-lg"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" id="langsel"></ul>
        </li>
        <li ng-if="me.getUser().access_level == 0">
          <a ui-sref="admin">
            <i class="fa fa-key fa-lg"></i> Administration
          </a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
