<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="overview"><i class="fa fa-home fa-lg"></i> {{cm.getContest().top_left_name}}</a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="SignCtrl">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-archive fa-lg"></i> {{'Task & quiz archive' | l10n}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="tasklist.page({pageNum: 1})"><i class="fa fa-list-ol fa-fw"></i> {{'All tasks' | l10n}}</a></li>
            <li><a ui-sref="tags"><i class="fa fa-tag fa-fw"></i> {{'Task categories' | l10n}}</a></li>
<!--
            <li><a href="#"><i class="fa fa-flask fa-fw"></i> Tutti i problemi, per tecnica</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Fase nazionale OII, per anno</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Fase territoriale OII, per anno</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Problemi creati dagli utenti</a></li>
            <li class="divider"></li>
-->
            <li><a ui-sref="lessons"><i class="fa fa-pencil fa-fw"></i> {{'Lessons' | l10n}}</a></li>
            <li><a ui-sref="tests"><i class="fa fa-pencil fa-fw"></i> {{'Quizzes' | l10n}}</a></li>
          </ul>
        </li>
        <li ng-class="{active: isActiveTab(4)}">
          <a ui-sref="ranking.page({ pageNum: 1 })"><i class="fa fa-trophy fa-lg"></i> {{'Ranking' | l10n}}</a>
        </li>
        <li ng-if="cm.getContest().forum != null">
          <a ng-if="!me.isLogged()" href="{{cm.getContest().forum}}"><i class="fa fa-comments fa-lg"></i> {{'Forum' | l10n}}</a>
          <a ng-if="me.isLogged()" href="{{cm.getContest().forum}}/session/sso"><i class="fa fa-comments fa-lg"></i> {{'Forum' | l10n}}</a>
        </li>
        <li ng-class="{active: isActiveTab(5)}" ng-if="!me.isLogged()">
          <a ui-sref="signup"><i class="fa fa-pencil fa-lg"></i> {{'Sign up' | l10n}}</a>
        </li>
        <li ng-if="me.isLogged() && !cm.hasParticipation()">
          <p class="navbar-btn">
            <a ng-click="participate()" class="btn btn-success"><i class="fa fa-sign-in"></i>{{'Enter the contest' | l10n}}</a>
          </p>
        </li>
      </ul>
      <ul class="navbar navbar-right navbar-nav">
        <form class="navbar-form form-inline">
          <select class="input-small" ng-model="vars.language" ng-change="setLanguage()">
            <option ng-repeat='lang in languages' value='{{lang.code}}'>{{lang.name}}</option>
          </select>
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!me.isLogged()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in fa-lg"></i> {{'Log in' | l10n}} <b class="caret"></b></a>
          <div class="dropdown-menu">
            <form class="signin-form" role="form" name="signinform" ng-submit="signin()">
              <div class="form-group">
                <label class="sr-only" for="username">{{'Username' | l10n}}</label>
                <input class="form-control" maxlength="15" type="text" id="username" name="username" ng-model="user.username" placeholder="Username" />
              </div>
              <div class="form-group">
                <label class="sr-only" for="password">{{'Password' | l10n}}</label>
                <input class="form-control" type="password" id="password" name="password" ng-model="user.password" placeholder="Password" />
              </div>
              <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> {{'Log in' | l10n}}</button>
              <div class="form-group" style="margin: 6px 0px 0px 0px" ng-if="cm.getContest().mail_enabled">
                <a data-toggle="dropdown" ui-sref="forgot-account">{{'Forgot account?' | l10n}}</a>
              </div>
            </form>
          </div>
        </li>
        <li ng-if="me.isLogged()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-lg"></i>
            <i>{{me.getUser().username}}</i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="user.profile({userId: me.getUser().username})">
                <i class="fa fa-list-ol fa-fw"></i>
                {{'My user profile' | l10n}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="signout()">
                <i class="fa fa-sign-out fa-fw"></i>
                {{'Log out' | l10n}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
