<div class="list-group ranking">
  <a ng-repeat="user in users" class="list-group-item" ui-sref="user({ userId: user.username })">
    <span data-field="number">{{$index + $parent.pagination.perPage * ($parent.pagination.current-1) + 1}}</span>
    <img class="img-circle user-thumbnail" src="//gravatar.com/avatar/{{user.mail_hash}}?d=identicon&s=40"></i>
    <span data-field="username">{{user.username}}</span>
    <span class="hidden-xs" data-field="real-name">({{user.first_name}} {{user.last_name}})</span>
    <tt data-field="score" class="pull-right"><i class="fa fa-star"></i>&thinsp;{{user.score}}</tt>
    <tt ng-if="user.tasks_solved >= 0" data-field="tasks-solved" class="pull-right"><i class="fa fa-graduation-cap"></i>&thinsp;{{user.tasks_solved}}</tt>
  </a>
</div>
