<div class="container">
  <h2> Materiale didattico </h2>
    <h3> Dispense </h3>
    <ul>
      <li>
        <b><a href="resources/guidascolastichec-2012.pdf">Guida alla Selezione Scolastica - Versione Linguaggio C</a>:</b>
        Questa guida, scritta da Susanna Anelli, Alessandro Bugatti e Giuseppe Callegarin, presenta le soluzioni commentate
        di alcuni esercizi proposti nelle selezioni scolastiche tra il 2008 e il 2011. Inoltre, questo documento contiene
        una essenziale <i>guida al Linguaggio C</i>.
      </li>
      <li>
        <b><a href="resources/guidascolastichepascal-2012.pdf">Guida alla Selezione Scolastica - Versione Linguaggio Pascal</a>:</b>
        Questa guida, scritta da Susanna Anelli, Alessandro Bugatti e Giuseppe Callegarin, presenta le soluzioni commentate
        di alcuni esercizi proposti nelle selezioni scolastiche tra il 2008 e il 2011. Inoltre, questo documento contiene
        una essenziale <i>guida al Linguaggio Pascal</i>.
      </li>
      <li>
        <b><a target="_blank" href="http://www.imparando.net/sito/olimpiadi_di_informatica.htm">Guida alle selezioni territoriali</a>:</b>
        La quarta edizione della guida scritta da Alessandro Bugatti è acquistabile (o scaricabile gratuitamente in PDF) da questo sito.
      </li>
      <li>
        <b><a href="resources/rangetree.pdf">Range tree</a>:</b>
        Dispensa sui range tree, scritta da Luca Wehrstedt.
      </li>
      <li>
        <b><a href="resources/fenwick.pdf">Fenwick tree (o Binary Indexed Tree, o BIT)</a>:</b>
        Dispensa sui fenwick tree, scritta da Stefano Maggiolo.
      </li>
    </ul>
    <hr>
    <h3> Software </h3>
    <p>
      Si consiglia l'utilizzo di ambienti di sviluppo integrati (IDE) solo a chi ha già dimestichezza con la programmazione;
      per gli altri, invece, nei tutorial viene spiegato come utilizzare <i>Ideone</i>.
    </p>
    <ul>
      <li>
        <b><a href="http://ideone.com/">Ideone (IDE online, quello usato nei videotutorial)</a>:</b>
        ambiente di sviluppo e compilatore, completamente online, supporta più di 40 linguaggi, non richiede installazione sul PC.
      </li>
    </ul>
    <hr>
    <h3> Slide </h3>
    <ul>
      <li>
        <b><a href="resources/presCocodi.pdf">Presentazione del Corso Online per Potenziare le Competenze Digitali</a>:</b>
        slide dell'intervento di Luigi Laura nel seminario di avvio.
      </li>
    </ul>
  <hr>
  <h3> Link </h3>
  <ul>
    <li>
      <b><a href="https://www.coursera.org">Coursera</a>:</b>
      è un sito, realizzato in collaborazione con diverse università statunitensi, dove è possibile
      seguire gratuitamente corsi online (principalmente in inglese).
    </li>
  </ul>
</div>
