<div class="container">
  <h2> Materiale didattico </h2>
    <h3> Dispense </h3>
    <ul>
      <li>
        <b><a href="resources/guidascolastichec-2012.pdf">Guida alla Selezione Scolastica - Versione Linguaggio C</a>:</b>
        Questa guida, scritta da Susanna Anelli, Alessandro Bugatti e Giuseppe Callegarin, presenta le soluzioni commentate
        di alcuni esercizi proposti nelle selezioni scolastiche tra il 2008 e il 2011. Inoltre, questo documento contiene
        una essenziale <i>guida al Linguaggio C</i>.
      </li>
      <li>
        <b><a href="resources/guidascolastichepascal-2012.pdf">Guida alla Selezione Scolastica - Versione Linguaggio Pascal</a>:</b>
        Questa guida, scritta da Susanna Anelli, Alessandro Bugatti e Giuseppe Callegarin, presenta le soluzioni commentate
        di alcuni esercizi proposti nelle selezioni scolastiche tra il 2008 e il 2011. Inoltre, questo documento contiene
        una essenziale <i>guida al Linguaggio Pascal</i>.
      </li>
      <li class="new">
        <b><a href="resources/guida_territoriale_versFebb2013.pdf">Guida alle selezioni territoriali</a>:</b>
        Versione aggiornata a febbraio 2013 della guida scritta da Alessandro Bugatti.
      </li>
      <li class="new">
        <b><a href="resources/rangetree.pdf">Range tree</a>:</b>
        Dispensa sui range tree, scritta da Luca Wehrstedt.
      </li>
      <li class="new">
        <b><a href="resources/fenwick.pdf">Fenwick tree (o Binary Indexed Tree, o BIT)</a>:</b>
        Dispensa sui fenwick tree, scritta da Stefano Maggiolo.
      </li>
    </ul>
    <hr>
    <h3> Software </h3>
    <p>
      Si consiglia l'utilizzo degli ambienti di programmazione a chi ha già dimestichezza con la programmazione;
      per gli altri, invece, nei tutorial viene spiegato come utilizzare <i>Ideone</i>.
      <br><br>
      Segue una lista di software consigliati (ma è abbastanza soggettiva, in generale potete usare il vostro IDE preferito).
    </p>
    <ul>
      <li>
        <b><a href="http://ideone.com/">Ideone (IDE online, quello usato nei videotutorial)</a>:</b>
        ambiente e compilatore online (supporta più di 40 linguaggi!), non richiede installazione sul PC.
      </li>
      <li>
        <b><a href="http://www.codeblocks.org/">Code::Blocks IDE</a>:</b>
        ambiente di programmazione C/C++ (è simile a DevC++ per certi aspetti, ma è più sulle orme di Visual Studio: gestisce progetti, ha le classiche configurazioni "Debug" e "Release"...).
      </li>
      <li>
        <b><a href="http://www.lazarus.freepascal.org/">Lazarus</a>:</b>
        ambiente di programmazione Pascal.
      </li>
      <li>
        <b><a href="http://orwelldevcpp.blogspot.it/">Ambiente Orwell DevC++ 5</a>:</b>
        la nuova versione (stabile, ancora supportata dai suoi sviluppatori) di DevC++.
      </li>
      <li>
        <a href="http://www.bloodshed.net/devpascal.html">Ambiente DevPascal 1.9.2</a>:
        ambiente di programmazione Pascal (abbastanza vecchio, "storicamente" utilizzato nelle selezioni territoriali, non più supportato dai suoi sviluppatori).
      </li>
      <li>
        <a href="http://www.bloodshed.net/dev/devcpp.html">Ambiente DevC++ 4.9</a>:
        ambiente di programmazione C/C++ (abbastanza vecchio, "storicamente" utilizzato nelle selezioni territoriali, non più supportato dai suoi sviluppatori).
      </li>
    </ul>
    <hr>
    <h3> Slide </h3>
    <ul>
      <li>
        <b><a href="resources/presCocodi.pdf">Presentazione del Corso Online per Potenziare le Competenze Digitali</a>:</b>
        slide dell'intervento di Luigi Laura nel seminario di avvio.
      </li>
    </ul>
    <hr>
    <h3> Video </h3>
    <ul>
    <li>
      <b><a href="http://conference.dis.uniroma1.it/p45194477/">Seminario di avvio</a>:</b>
      video, della durata di circa 2 ore e 20 minuti. Il seminario di avvio si è tenuto il 30 ottobre 2013 nel
      <a href="http://www.dis.uniroma1.it">Dipartimento di Ingegneria Informatica, Gestionale e Automatica</a>
      dell'università Sapienza.
    </li>
    <li>
      <b><a href="https://dl.dropboxusercontent.com/u/3287130/filmatiCOCODI/OII.mp4">Che cosa sono le Olimpiadi di Informatica</a>:</b>
      video, della durata di circa 13 minuti, che contiene l'intervento al seminario di avvio del corso di Nello
      Scarabottolo, presidente del comitato Olimpico.
    </li>
    <li>
      <b><a href="https://dl.dropboxusercontent.com/u/3287130/filmatiCOCODI/video1.mp4">TUTORIAL: soluzione commentata del problema 16 delle selezioni scolastiche 2012</a>:</b>
      video, della durata di circa 6 minuti.
    </li>
    <li>
      <b><a href="https://dl.dropboxusercontent.com/u/3287130/filmatiCOCODI/video2.mp4">TUTORIAL: soluzione commentata del problema 2 delle selezioni scolastiche 2012</a>:</b>
      video, della durata di circa 3 minuti.
    </li>
  </ul>
  <hr>
  <h3> Link </h3>
  <ul>
    <li>
      <b><a href="https://www.coursera.org">Coursera</a>:</b>
      è un sito, realizzato in collaborazione con diverse università statunitensi, dove è possibile
      seguire gratuitamente corsi online (principalmente in inglese).
    </li>
    <li>
      <b><a href="http://www.compileonline.com/">CompileOnline</a>, <a href="http://ideone.com/">IdeOne</a>:</b>
      sono due siti che consentono di scrivere (o di incollare!), compilare ed eseguire codice, senza
      dover installare ambienti di programmazione sul proprio computer.
    </li>
  </ul>
</div>
