<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{'Submit a solution' | l10n}}</h3>
  </div>
  <div class="panel-body">
    <form class="col-sm-12" ng-submit="loadAce()" id="aceform" ng-if="task.submission_format.length == 1">
      <div class="row vertical-center container">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-warning" ng-click="resetAce()">
            <i class="fa fa-trash"></i> {{'Reset' | l10n}}
          </button>
          <label class="btn btn-warning">
            <input type="file" custom-on-change="loadFile" style="display:none">
            <i class="fa fa-folder-open"></i> {{'Load file' | l10n}}
          </label>
        </div>

        <span class="btn-separator"></span>

        <label class="control-label text-right">
          {{'Language:' | l10n}}
          <select ng-model="language" ng-options="m for m in languages" ng-change="languageChanged(language)"></select>
        </label>

        <span class="btn-separator"></span>

        <div class="btn-group" role="group">
          <!-- <div class="btn-group" role="group">
            <button type="button" class="btn btn-info dropdown-toggle" id="input-chooser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i> {{'Run' | l10n}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="input-chooser">
              <li><a href="#">Sample testcase #000</a></li>
              <li><a href="#">Sample testcase #001</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Custom testcase...</a></li>
            </ul>
          </div> -->
          <button type="submit" class="btn btn-success"><i class="fa" ng-class="{'fa-spin': !submitCompleted(), 'fa-paper-plane': submitCompleted(), 'fa-circle-o-notch': !submitCompleted()}"></i> {{'Submit' | l10n}}</button>
        </div>
      </div>
      <div ui-ace="aceOption" ng-model="aceModel"></div>
    </form>

    <!-- TODO: somehow integrate the code below with the in-browser editor -->

    <form class="col-sm-6 form-horizontal" ng-submit="loadFiles('submitform')" id="submitform" ng-if="task.submission_format.length > 1">
      <div class="form-group" ng-repeat="file in task.submission_format">
        <label class="control-label col-lg-3" for="{{file}}">{{file | repext}}</label>
        <div class="col-lg-9">
          <input type="file" id="{{file}}" name="{{file}}"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <button type="submit" class="btn btn-success">{{'Submit' | l10n}}</button>
        </div>
      </div>
    </form>
    <form class="well col-sm-6 form-horizontal" ng-submit="loadFiles('zipform')" id="zipform" class="pull-right" ng-if="task.submission_format.length > 1">
      <div class="form-group">
        <label class="control-label col-lg-3" for="zipfile"><i class="fa fa-floppy-o"></i> {{'.zip file' | l10n}}</label>
        <div class="col-lg-9">
          <input type="file" id="zipfile" name="submission"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <button type="submit" class="btn btn-success">{{'Submit' | l10n}}</button>
        </div>
      </div>
    </form>

  </div>
  <div class="panel-heading">
    <h3 class="panel-title">{{'Previous submissions' | l10n}}</h3>
  </div>
  <table class="submissions table table-bordered table-striped">
    <tr ng-show="areThereSubs(taskName)">
      <th class="col-xs-1">{{'ID' | l10n}}</th>
      <th class="col-xs-4">{{'Time and date' | l10n}}</th>
      <th class="col-xs-5">{{'Status' | l10n}}</th>
      <th class="col-xs-2">{{'File(s)' | l10n}}</th>
    </tr>
    <tr ng-hide="areThereSubs(taskName)">
      <td colspan="4" class="no-submissions">{{'no submissions' | l10n}}</td>
    </tr>
    <tr class="submission" ng-repeat="sub in submissions[taskName]">
      <td><a data-toggle="modal" data-target="#submission_detail" ng-click="showDetails(sub.id)">{{sub.id}}</a></td>
      <td>{{sub.time}}</td>
      <td class="{{sub.cl}}">{{sub.status | l10n}}</td>
      <td class="files">
        <div class="btn-group">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Scarica
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="file in sub.files">
              <a href="api/files/{{file['digest']}}/{{file['name']}}">{{file['name']}}</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
  <div class="modal fade" id="submission_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{'Submission details' | l10n}}</h4>
        </div>
        <div class="modal-body">
          <div class="score_details">
            <div ng-repeat="subtask in actualCurSub.score_details">
              <h3 ng-show="actualCurSub.score_details.length > 1">
                {{'Subtask' | l10n}} {{subtask.idx}}
                <span class="pull-right">
                  {{subtask.score}}/{{subtask.max_score}}
                </span>
              </h3>
              <table class="testcase-list table table-bordered">
                <thead>
                  <tr>
                    <th>{{'Testcase' | l10n}}</th>
                    <th>{{'Result' | l10n}}</th>
                    <th>{{'Details' | l10n}}</th>
                    <th>{{'Time' | l10n}}</th>
                    <th>{{'Memory' | l10n}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="{{testcase.outcome | outcomeToClass}}" ng-repeat="testcase in subtask.testcases">
                    <td>{{testcase.idx}}</td>
                    <td><span class="outcome">{{testcase.outcome}}</span></td>
                    <td>{{testcase.text}}</td>
                    <td>{{testcase.time | timeFmt}}</td>
                    <td>{{testcase.memory | memoryFmt}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h4>{{'Compilation output' | l10n}}</h4>
          <table class="table table-bordered" style="table-layout: fixed;">
            <tbody>
              <tr>
                <th>{{'Compilation outcome:' | l10n}}</th>
                <td>{{actualCurSub.compilation_outcome}}</td>
              </tr>
              <tr>
                <th>{{'Compilation time:' | l10n}}</th>
                <td>{{actualCurSub.compilation_time | timeFmt}}</td>
              </tr>
              <tr>
                <th>{{'Used memory:' | l10n}}</th>
                <td>{{actualCurSub.compilation_memory | memoryFmt}}</td>
              </tr>
            </tbody>
          </table>
          <h4>{{'Standard output' | l10n}}</h4>
          <pre>{{actualCurSub.compilation_stdout}}</pre>
          <h4>{{'Standard error' | l10n}}</h4>
          <pre>{{actualCurSub.compilation_stderr}}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | l10n}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
