<div class="container">
  <legend>{{task.title}}</legend>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isActiveTab(1)}">
      <a ui-sref=".statement"><i class="fa fa-file-text fa-lg"></i> {{'Statement' | l10n}}</a>
    </li>
    <li ng-class="{active: isActiveTab(2)}" ng-show="task.attachments.length">
      <a ui-sref=".attachments">
        <span class="tab-badge-total badge pull-right">{{task.attachments.length}}</span>
        <i class="fa fa-paperclip fa-lg"></i> {{'Attachments' | l10n}}
      </a>
    </li>
    <li ng-class="{active: isActiveTab(3)}">
      <a ui-sref=".stats"><i class="fa fa-bar-chart-o fa-lg"></i> {{'Stats' | l10n}}</a>
    </li>
    <li ng-class="{active: isActiveTab(4)}" ng-show="isLogged()">
      <a ui-sref=".submissions"><i class="fa fa-code fa-lg"></i> {{'Submissions' | l10n}}</a>
    </li>
    <li class="my-popover pull-right" data-trigger="hover" data-placement="bottom" data-title="{{'Memory limit' | l10n}}" data-content="{{'Memory available for the execution of one testcase, measured in MiB.' | l10n}}" ng-show="task.memory_limit != undefined">
      <a><i class="fa fa-stack-overflow fa-lg"></i> {{task.memory_limit}} {{'MiB' | l10n}}</a>
    </li>
    <li class="my-popover pull-right" data-trigger="hover" data-placement="bottom" data-title="{{'Time limit' | l10n}}" data-content="{{'Time available for the execution of one testcase, measured in seconds.' | l10n}}" ng-show="task.time_limit != undefined">
      <a><i class="fa fa-clock-o fa-lg"></i> {{task.time_limit}} {{'sec' | l10n}}</a>
    </li>
    <li class="pull-right" data-trigger="hover" data-placement="bottom" data-title="{{'Tags' | l10n}}"
        data-content="{{'Tags are useful to classify tasks by a common characteristic or technique, such as: <i>greedy</i>, <i>graphs</i>, and so on.' | l10n}}">
      <a data-toggle="modal" data-target="#tags_detail">
        <span class="tab-badge-total badge pull-right">{{task.tags.length}}</span>
        <i class="fa fa-tags fa-lg"></i> {{'Tags' | l10n}}
      </a>
    </li>
    <li class="pull-right" ng-show="task.help_available">
      <a ui-sref="help({ taskName: task.name })"><i class="fa fa-question fa-lg"></i> Aiuto</a>
    </li>
  </ul>
  <div class="modal fade" id="tags_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{'Tags list' | l10n}}</h4>
        </div>
        <div class="modal-body" id="taglist">
          <div ng-if="task.tags.length < 1" class="not-found-msg">{{'no tags' | l10n}}</div>
          <div class="tag-group">
            <span class="tag-group-item" ng-repeat="tag in task.tags">
              <a class="label btn-info left" ng-click="tagClicked(tag.name)">
                <i class="fa fa-tag"></i>
                {{tag.name}}
              </a>
              <a ng-if="tag.can_delete" class="label btn-warning right" ng-click="tagDelete(tag.name)">&times;</a>
            </span>
            <span class="tag-group-item">
              <a class="label btn-success" ng-click="newTag()">new tag +</a>
            </span>
          </div>
        </div>
        <hr class="newtagstuff" style="display: none">
        <div class="newtagstuff modal-body" style="display: none">
          <form class="search-by-tag form-horizontal" role="form" ng-submit="reloadTasks()">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="newtag">Tagga questo problema</label>
              <div class="col-sm-6">
                <select id="tagchooser" disabled="disabled" class="form-control" maxlength="30" autocomplete="off" id="newtag" name="newtag" ng-model="tag.newtag" type="text">
                  <option ng-repeat="tag in tags">{{tag}}</option>
                </select>
                <span id="tagloader" class="help-block">{{'Loading...' | l10n}}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default ng-binding" ng-click="tagAdd()">Aggiungi tag</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | l10n}}</button>
        </div>
      </div>
    </div>
  </div>
  <div ui-view></div>
</div>
