[core]
# The secret must be an hexadecimal string
secret = 485e77da5c9eff017bab1ce8ce3fc0
api_prefix = api/
title = CMSocial
top_left_name = CMSocial
ask_institute = 0
analytics = UA-XXXXX-X

[forum]
# The url of a functioning Discourse instance
forum_url = http://forum.url
forum_key = you must generate this using the admin panel
